apscheduler
tqdm

numpy==2.*  # version limited by tensorflow and numba
pandas==2.*  # version might be important for parsing timestamps
pyarrow  # If parquet is used. Alternatively fastparquet

# Downloaders/connectors
akshare
dateparser

# Features/label generation
numba  # For highlow label generator
ta-lib  # Python wrapper for TA-lib (native) library
# tsfresh  # if tsfresh feature generator is used. It depends on matrixprofile with binary (in pip) only for Python 3.8

# Algorithms
scikit-learn==1.8.*
lightgbm==4.*
tensorflow==2.20.*
keras==3.13.*
